# Configurações do Banco de Dados
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=

# Segurança e Autenticação
JWT_SECRET=
JWT_EXPIRATION_MINUTES=

# Credenciais de Acesso do Administrador
ADMIN_NAME=
ADMIN_USERNAME=
ADMIN_PASSWORD=

# Portas e Conexões de Rede
BACKEND_PORT=
FRONTEND_PORT=

# Segurança de Origem (CORS)
CORS_ALLOWED_ORIGINS=
